# This env variable is mandatory 
# Questa variabile è obbligatoria
TMDB_KEY= "e3a35c9c9ae936e92dafb1a37970b91e"
# Those env variable are not mandatory
# Queste variabili non sono obbligatoria
PROXY = ["PROXY1","PROXY2"]
FORWARDPROXY = "YOURFORWARDPROXY/"
